<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baidu.rigel.cust.mapping.CustScoreDetailMapper">
    <select id="selectByOne" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from tb_cust_score_detail
        ORDER  BY  add_time desc
        limit 1
    </select>

    <select id="getCustScoreDetails" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from tb_cust_score_detail
        ORDER  BY  add_time desc
        limit 20
    </select>
</mapper>