<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baidu.rigel.jichuang.mapping.TradeGraphDownMapper">

    <select id="queryTradeDownByTradeId" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from tb_trade_graph_down
        where trade_id = #{id,jdbcType=BIGINT}
    </select>

</mapper>