<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ Copyright (C) 2016 Baidu, Inc. All Rights Reserved.
  -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baidu.rigel.jichuang.mapping.TestMapper">
    <select id="getTests" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from tb_test
    </select>
    <update id="updateName">
        update tb_test
        set name = #{name,jdbcType=VARCHAR}
        where id > #{id,jdbcType=BIGINT}
    </update>
</mapper>